*{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
header{
width: 100%;
height: 130vh;
background-image: url(BMWred.jpg);
background-size: cover;
background-repeat:no-repeat;
position: relative;
}

nav {
display:flex;
justify-content: space-between;
}
nav::after{
content:"";
background-color:black;
width: 73%;
height:1px;
position: absolute;
top: 9%

}
ul{
display:flex;
}
.nav__ul--anchors > li{
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  text-decoration: none;

}
.mod{
  color: black;
}

.nav__ul--icons > li{
  width: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.lupa{
  color: black;
}

.usuario{
  color:black;
}

.location{
  color:black;
}

li img {
max-width: 50%;
}
.logo{
width: 22%;
height: 85%;
}
.header_div{
  position: absolute;
  top: 87%;
  color: rgb(5, 5, 7);
  margin-left: 10px;
}
.header__div--button {
  background-color: rgb(0 172 193);
  padding-left: 35px;
  padding-right: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  border-radius: 10px;
  font-weight: bold;

}
p{
  color: rgb(8, 8, 8);
  font-weight: bold;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 1%;
}
.main__ul--cars{
  padding-left: 11%;
  display:flex;
  align-items: center;  
  color:grey;
  justify-content: space-between;
  padding-right: 11%;
}

.coche{
  color: black;
  font-weight: bold;
}
.coche:hover{
  transform: scale(1,15);
  
}

.flexbox-container1 {
  background-color: white;
  width: 90vw;
  min-height: 80vh;
  border: 2px solid white;
  padding: 20px;
  margin: 20px ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
 }

 .price{
  color:grey;
 }
 .explored{
  color:black;
 }
.configurar{
  color: Black;
}
 
 .flexbox-item{
  border: 0px solid;
  background-color: white;
  padding: 20px;
  width: 225px;
}

#imgcar{
 width: 240px;
 height: 150px; 
}
.flexbox-item-item5{
  padding-right: 68%;
  padding-top: 1%;
}

.flexbox-container2{
  background-color: white;
  width: 90vw;
  min-height: 80vh;
  border: 2pxsolidwhite;
  padding: 20px;
  margin: 20pxauto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
 }

.contacto{
  color: black;
}

.wanted{
  color:black;
 }
 
 .want{
  color: black;
 }

 .online{
  color: black;
 }

.imgcar{
 width: 260px;
 height: 150px; 
}


.flexbox-container3{
  background-color: white;
  width: 90vw;
  min-height: 70vh;
  border: 2px solid white;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
 }
 
 .flexbox-items-categorías{
  border: 0px solid;
  background-color: white;
  padding: 5px;
  width: 100px;
  margin: 0%;
  
  }

.info{
  color: black;
}

.cat{
 width: 545px;
 height: 350px; 

}

.video{
  width: 545px;
  height: 350px;
}

.flexbox-container4{
  
  width: 90vw;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

 

 }

.nav__ul--icons2{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  
}
.car{
  
  background-color: rgb(216, 213, 213);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  margin-right: 10px;
  color:black;
}

.catalogo{
  
  background-color: rgb(216, 213, 213);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  margin-right: 10px;
  color: black;
}
.pide{
  
  background-color: rgb(216, 213, 213);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  margin-right: 10px;
  color: black;
}
.contact{
  
  background-color: rgb(216, 213, 213);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  margin-right: 10px;
  color: black;
}


.flexbox-container5 {
  background-color: rgb(216, 213, 213);
  width: 90vw;
  min-height: 50vh;
  padding: 0;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
   
 }


.flexbox-item-guia{
  background-color: rgb(216, 213, 213);
  margin-top: 50px;
  width: 110px;
  padding-right: 2%;
  margin-left: 10px;
 
 
}
h6{
  margin:6%;
}